<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="
    progsite - Website cu programari online pentru afacerea ta">
    <meta name="keywords" content="site de prezentare, programari online, relatii cu clientii">
    <link rel='icon' type='image/png' href='/public/sfg/assets/favicon.ico'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/bulma.min.css">
    <link rel="stylesheet" href="/public/common.css">
    <script defer src="/public/crm/crm.js"></script>
    <script defer src="/public/alpine.min.js"></script>
    <title>progsite - Website cu programari online pentru afacerea ta</title>
</head>

<body>

    {% block content %}

    {% endblock content %}

</body>

</html>